nav {
    border-radius: 5px;
    background-color: lightblue;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://img.freepik.com/premium-photo/abstract-background-molecules-technology-with-polygonal-shapes_7247-2436.jpg )
}

.menubar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menubar li {
    font-size: larger;
    float: left;
}

.menubar li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.menubar li a:hover {
    background-color: #bdeeec;
}

table,
th,
td {
    
    margin-left: 390px;
    margin-top: 80px;
    border: 2px solid black;
    text-align: center;
    font-size: 27px;
    width: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

th {
    background-color: rgb(199, 255, 225);
}

@media screen and (max-width: 600px) {
    .center {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        margin-top: 20px;
    }

    h1 {
        font-size: 24px;
        padding-right: 50;
        margin-top: 20px;
    }

    img {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    input {
        width: 90%;
        margin-left: 5%;
    }

    button {
        width: 90%;
        margin-left: 5%;
    }
}